.product-catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    padding: 1em;
    width: 20%; /* Change this value to control the width of each product-card */
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.product-description {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 1rem;
}


.product-img{
    height: 200px;
    width: 100%;
}