body{
    background-color: beige;
}

.menu {
    padding: 1em;
    background-color: #0D0D0D;
    text-align: right;
}

.content{
    margin: 4em;
}


.product-img{
    width: 200px;
    height: 250px;
}

.user-button {
    background-color: #D96E48;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    font-family: "Madimi One", sans-serif;
}

.user-button:hover {
    background-color: #F29D52;
}